
/* html{
    -webkit-text-size-adjust: 100%;
} */
body{
    margin:0;
    align-items: center;
    background: gray;
}
#wlcp {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15%;
    font-size: xx-large
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1.5);
    }
}
#button{
    font-size: large;
    border-radius: 2em;
}

.box {
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@media screen and (max-width: 300px) {
    body{
        
        font-size: 10px;
        font-weight: lighter;
        h1{
            font-size: 35px;
            padding: 10px 1px;
            margin-top: 250px; 
        }
        form, main{
            font-size: 20px;
            
            margin: 0 auto;
            width: max-content;
        }
        .grid{
            margin: 0;
            display: inline-block;
            width: 300px;
            height: max-content;
        }
        
    }  
}
[href], #ulmenu{
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    color: white;
    li{
        display: inline;
        font-size: larger;
        border: 2px solid white;
        border-radius: 5px;
        
    }
}
li :hover{
    border: 5px;
    border-radius: 5px;
    background-color: aqua;
    color: black;
    font-size: x-large;
    
}

header{
    position:fixed;
    display: inline-flex;
    margin:0;
    width: 100%;
    background: rgb(34, 34, 66);
    color: white;
    line-height: 20px;
    z-index: 10;
    
    
    #h1{
        padding: 20px;
    }
    #ulmenu{
        margin-left: 20px;
        margin-top: 30px;
        margin-right: 0;
        
    }
    span{
        font-size: small;
        background-color:white;
        color: black;
    }
    #hidden{
        visibility: visible;
        border: hidden;
    }
    @media screen and (width < 767px){
        flex-direction: column;
        line-height: 30px;
        font-size: x-small;
        height: 200px;
        
        
        #h1{
            padding: 0px;
            margin: 10px;
        }
    }
}

#intr{
    margin:0;
    display: flex;
    background-color: rgb(46, 42, 42);
    text-shadow: 5px -5px white;
    font-size: 50px;
    padding-top: 9rem;
    @media screen and (width < 767px ) {
        display: flex;
        background-color: rgb(46, 42, 42);
        text-shadow: 5px -5px white;
        font-size: 20px;
        height: 200px;
        padding-top: 150px;
        column-gap: px;
        .pp{
            height: 100px;
            width: 100px;
            margin-top: 60px;
            margin-right:0px ;
            margin-left: 7px;
        }
        /*introduction paragraph*/
        .intrp{
            padding-top: 80px;
        }
    }
    .pp{
        border-radius: 400px;
        margin-left: 10px;
    }
    #emb{
        margin-left: 500px;
        height: 70px;
        width: 70px;
        margin-top: 100px;
        animation: grow-and-shrink 2000ms;
        animation-timing-function:fadein 2s ease-in-out;
        animation-iteration-count: infinite;
        animation-direction:alternate;
        
        @media screen and (width < 1100px) {
            margin-right: 10px;
            margin-left: 0;
            height: 20px;
            width: 20px; 
            
        }
    }
    
    
}
.gbcontainer{
    margin: 0 auto;
    width: 900px;
    background-color:rgb(236, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    table{
        margin-bottom: 10px;
    }
    @media(width < 884px) {
        width: max-content;
        background-color: white;
        align-items:flex-start;
        
    }
    
}
article{
    margin: 20px;
    width: 500px;
    text-align: justify;
    @media(width < 800px) {
        width:300px;
        background-color: white;
        margin: auto;
        margin-left: 10px;;
        text-align:justify ;
    }
}
@media screen and (width < 400px) {
    .flex-item{
        
        margin-left: 10px;
    }
    table{
        font-size: small;
        margin-right: 6px;
        margin-bottom: 5px;
        
    }
    .tu{
        
        background-color: white;
    }
    
}

footer{
    background-color:rgb(34, 34, 66);
    color: white;
    align-content: space-around;

    #idf{
        display: grid;
        /* grid-template-columns: 200px 200px 200px ; */
        grid-template-columns: repeat(6, 1fr);
        margin-left: 40px;
        gap: 20px;
    }
    @media screen and (width < 700px) {
        #idf{
            display: inline;
            text-align: center;
        }
        
    }
}

/* galary section*/
#gfc{/*galary form-control id*/
    margin: 20px;
    margin-left: 200px;
    @media screen and (width < 1100px) {
        margin-left:7px;

        
    }
    #search{
        height: 50px;
        width: 300px;
        border-radius: 50px;
        margin-left: 0px;
        
        
    }
    @media screen and (width < 1100px) {
        #gfc{
            width: 0%;
            margin: 0;
            margin-left: 0%;
            margin-right: 200px;
        }
        #search{
            display: inline-block;
            height: 30px;
            width: 200px;
            border-radius: 15px;
            text-align: right;
            margin: 0;

        }
    }
}
.banner{
    display: flex;
    background-color:rgb(34, 34, 66);
    gap: 400px;
    align-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    @media screen and (width < 1100px) { 
            display:inline;
            gap:0;
            align-content: flex-start;
            align-items: flex-start;
            width: 100%;
            font-size: small;
    }
    
    
}
p+h2{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    animation: grow-and-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (width < 1100px) {
        margin-left: 200px;
        font-size: small;
        background-color: black;
        border: 2px solid black;
        border-radius: 10px;
        animation: grow-and-shrink 2000ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction:alternate;
        
        
    }
}
#gbh1{
    margin-left: 20px;
    
}
#gmain{
    padding-top: 150px;
}
#media{
    display: flex;
    column-gap: 5px;
    @media screen and (width < 900px) {
        display:flex;
        flex-direction: column;
        background-color: rgb(124, 124, 219);
        
    }

}
#photo{
    width: 33%;
    height: 1000px;
    box-sizing: border-box;
    /* width: 300px;*/
    padding: 20px;
    border: 1px solid rgb(242, 238, 238);
    /* margin: 25px; */
    @media screen and (width < 900px) {
        width: 100%;
        
    }
    #mds{
        text-align: center;
        background-color: black;
        color: white;
        margin-top: 0;
    }
}
#mother{
    width:450px;
    height: 250px;
}
@media screen and (max-width: 1300px){
    #mother{
        width: 290px;
        height: 250;
    }
}
#video{
    height: 1000px;
    width: 33%;
    box-sizing: border-box;
    /* width: 300px;*/
    padding: 20px;
    border: 1px solid rgb(228, 218, 218);
    /* margin: 25px; */
    @media screen and (width < 1300px) {
        width: 100%;
        #v1{
            width: 290px;
        }
        
        
    }
    #mds{
        text-align: center;
        background-color: black;
        color: white;
        margin-top: 0;
    }
}
#audio{
    line-height: 30px;
    height: 1000px;
    width: 33%;
    box-sizing: border-box;
    /* width: 300px; */
    padding: 20px;
    border: 1px solid rgb(224, 212, 212);
    /* margin: 25px; */
    @media screen and (width < 900px) {
        width: 100%;
        
    }
    #mds{
        text-align: center;
        background-color: black;
        color: white;
        margin-top: 0;
    }
}
#aud{
    background-color: black;
    border-radius: 5px;
}
#galarybg{
    background: rgba(107, 123, 123, 0.429);
    
}